@font-face {
    font-family: 'Inter-Semi Bold';
    font-style: normal;
    src: url('@/assets/fonts/Inter-SemiBold_1.otf');
    font-weight: 600;
}
@font-face {
    font-family: 'Inter-Medium';
    font-style: normal;
    src: url('@/assets/fonts/Inter-Medium_1.otf');
    font-weight: 500;
}
@font-face {
    font-family: 'Arial-Regular';
    font-style: normal;
    src: url('@/assets/fonts/ARIAL_1.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    src: url('@/assets/fonts/Orbitron-500.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    src: url('@/assets/fonts/Orbitron-700.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    src: url('@/assets/fonts/Orbitron-900.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
}
@font-face {
    font-family: 'Rajdhani';
    font-style: normal;
    src: url('@/assets/fonts/Rajdhani-400.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Rajdhani';
    font-style: normal;
    src: url('@/assets/fonts/Rajdhani-500.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Rajdhani';
    font-style: normal;
    src: url('@/assets/fonts/Rajdhani-600.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'Rajdhani';
    font-style: normal;
    src: url('@/assets/fonts/Rajdhani-700.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Alibaba PuHuiTi 2.0-55 Regular';
    font-style: normal;
    src: url('@/assets/fonts/AlibabaPuHuiTi-2-55-Regular_1.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'DFPZongYiW7-GB-Regular';
    font-style: normal;
    src: url('@/assets/fonts/DFPZongYiW7-GB-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: '华康新综艺W7';
    font-style: normal;
    src: url('@/assets/fonts/DFPZongYiW7-GB-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: '华康新综艺 W7';
    font-style: normal;
    src: url('@/assets/fonts/DFPZongYiW7-GB-Regular.ttf') format('truetype');
    font-weight: 400;
}
