
.scroll-container {
        height: 100%;
width: 100%;
overflow: auto;
      }
.dubai-frame-1005_197 {
        width: 100%;
height: 1064px;
overflow: hidden;
position: relative;
flex-shrink: 0;
background-color: rgba(4, 4, 4, 1);
      }
.dubai-rectangle-1021_494 {
        width: 995.9999389648438px;
height: 1920px;
position: absolute;
left: 462.0000522858471px;
top: -393.99998855464605px;
transform:  rotate(-89.99999749552194deg);
background-size: 94.2578% 192.6844%;
background-position: 40.14px -688.32px;
background-repeat: no-repeat;
background-image: url(@/assets/images/shared-network-grid-background.png);
opacity: 0.11999999731779099;
      }
.dubai-rectangle-1005_283 {
        width: 80px;
height: 92px;
position: absolute;
left: 0px;
top: 330px;
transform: rotateY(180deg);
filter: blur(2.6666666666666665px);
background-size: 100.0000% 96.3571%;
background-position: 0.00px 1.37px;
background-repeat: no-repeat;
background-image: url(@/assets/images/shared-gem-coin.png);
opacity: 0.20000000298023224;
      }
.dubai-rectangle-1005_284 {
        width: 80px;
height: 92px;
position: absolute;
left: -1684px;
top: 776px;
transform: rotateY(180deg);
filter: blur(2.6666666666666665px);
background-size: 100.0000% 96.3571%;
background-position: 0.00px 1.37px;
background-repeat: no-repeat;
background-image: url(@/assets/images/shared-gem-coin.png);
opacity: 0.20000000298023224;
      }
.dubai-rectangle-1005_285 {
        width: 72px;
height: 83px;
position: absolute;
left: -26px;
top: 901px;
transform: rotateY(180deg);
filter: blur(2.6666666666666665px);
background-size: 100.0000% 96.3571%;
background-position: 0.00px 1.23px;
background-repeat: no-repeat;
background-image: url(@/assets/images/shared-gem-coin.png);
opacity: 0.20000000298023224;
      }
.dubai-rectangle-1005_286 {
        width: 1920px;
height: 80px;
position: absolute;
left: 0px;
top: 0px;
backdrop-filter: blur(1.3333333333333333px);
background-color: transparent;
      }
.dubai-rectangle-1005_287 {
        width: 1920px;
height: 80px;
position: absolute;
left: 0px;
top: 0px;
filter: blur(1.3333333333333333px);
background-color: transparent;
      }
.dubai-rectangle-1005_288 {
        width: 1920px;
height: 80px;
position: absolute;
left: 0px;
top: 0px;
background-color: transparent;
      }
.dubai-vector-1005_289 {
        width: 1920px;
height: 0.5px;
background-image: url(@/assets/images/shared-horizontal-divider-line-gamma.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 79.75px;
      }
.dubai-group-1005_290 {
        width: 133px;
height: 40px;
position: absolute;
left: 240px;
top: 20px;
      }
.dubai-vector-1005_291 {
        width: 24.06%;
height: 30.0494384765625px;
background-image: url(@/assets/images/profile-header-brand-icon.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 75.94%;
top: 50%;
transform: translateY(calc(-50% + 0.14545249938964844px));
      }
.dubai-paragraph-1005_293 {
        font-size: 40px;
font-family: "DFPZongYiW7-GB-Regular";
font-weight: 400;
letter-spacing: 0em;
text-transform: uppercase;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: absolute;
left: 42px;
top: 0px;
white-space: pre;
flex-grow: 0;
      }
.dubai-group-1005_294 {
        width: 62px;
height: 21px;
position: absolute;
left: 1131px;
top: 30px;
      }
.dubai-paragraph-1005_295 {
        font-size: 18px;
font-family: "SF Pro Display-Semibold";
font-weight: 600;
letter-spacing: 0.009999999776482582em;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: absolute;
left: 28px;
top: 0px;
white-space: pre;
flex-grow: 0;
      }
.dubai-vector-1005_296 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/profile-header-nft-icon.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 1px;
      }
.dubai-paragraph-1005_299 {
        font-size: 18px;
font-family: "SF Pro Display-Semibold";
font-weight: 600;
letter-spacing: 0.009999999776482582em;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: absolute;
left: 1020px;
top: 30px;
white-space: pre;
flex-grow: 0;
      }
.dubai-group-1005_300 {
        width: 62px;
height: 21px;
position: absolute;
left: 708px;
top: 30px;
      }
.dubai-frame-1005_301 {
        width: auto;
height: auto;
position: absolute;
left: 28px;
top: 0px;
display: flex;
flex-direction: row;
gap: 4px;
align-items: center;
      }
.dubai-paragraph-1005_302 {
        font-size: 18px;
font-family: "SF Pro Display-Semibold";
font-weight: 600;
letter-spacing: 0.009999999776482582em;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.dubai-vector-1005_303 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/profile-header-mall-icon.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 1px;
      }
.dubai-group-1005_305 {
        width: 62px;
height: 21px;
position: absolute;
left: 850px;
top: 30px;
      }
.dubai-frame-1005_306 {
        width: auto;
height: auto;
position: absolute;
left: 28px;
top: 0px;
display: flex;
flex-direction: row;
gap: 4px;
align-items: center;
      }
.dubai-paragraph-1005_307 {
        font-size: 18px;
font-family: "SF Pro Display-Semibold";
font-weight: 600;
letter-spacing: 0.009999999776482582em;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.dubai-vector-1005_308 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/profile-header-defi-icon.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 1px;
      }
.dubai-group-1005_313 {
        width: 20px;
height: 20px;
position: absolute;
left: 992px;
top: 31px;
      }
.dubai-rectangle-1005_314 {
        width: 20px;
height: 20px;
position: absolute;
left: 0px;
top: 0px;
      }
.dubai-group-1005_315 {
        width: 18px;
height: 18px;
position: absolute;
left: 1px;
top: 1px;
      }
.dubai-vector-1005_316 {
        width: 8.197265625px;
height: 10.5054931640625px;
background-image: url(@/assets/images/profile-header-fun-icon-mark.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 5px;
top: 3.466796875px;
      }
.dubai-vector-1005_329 {
        width: 19.6015625px;
height: 19.60009765625px;
background-image: url(@/assets/images/profile-header-fun-icon-ring.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 0px;
      }
.dubai-group-1005_370 {
        width: 195px;
height: 48px;
position: absolute;
left: 1485px;
top: 16px;
      }
.dubai-vector-1005_368 {
        width: 48px;
height: 48px;
background-image: url(@/assets/images/profile-header-avatar-ring.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 0px;
      }
.dubai-paragraph-1005_369 {
        font-size: 18px;
font-family: "SF Pro Display-Semibold";
font-weight: 600;
letter-spacing: 0.009999999776482582em;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: absolute;
left: 62px;
top: 14px;
white-space: pre;
flex-grow: 0;
      }
.dubai-group-1021_493 {
        width: 1200px;
height: 483px;
position: absolute;
left: 360px;
top: 516px;
      }
.dubai-group-1017_482 {
        width: 1200px;
height: 483px;
position: absolute;
left: 0px;
top: 0px;
      }
.dubai-rectangle-1005_234 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 10px 10px 10px 10px;
backdrop-filter: blur(1.3333333333333333px);
background-color: rgba(4, 4, 4, 0.10000000149011612);
      }
.stroke-wrapper-1005_234 {
        position: absolute;
left: 0px;
top: 63px;
width: 1200px;
height: 420px;
      }
.stroke-1005_234 {
        position: absolute;
inset: 0px;
border-radius: 10px 10px 10px 10px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.20000000298023224);
      }
.dubai-paragraph-1006_399 {
        font-size: 28px;
font-family: "Alibaba PuHuiTi 3.0-85 Bold";
font-weight: 700;
letter-spacing: 0em;
text-transform: capitalize;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: absolute;
left: 0px;
top: 0px;
white-space: pre;
flex-grow: 0;
text-shadow: 1px 2px 8px rgba(9.627716064453125, 25.37155532836914, 69.14710235595703, 0);
      }
.dubai-group-1007_413 {
        width: 1152px;
height: 81px;
position: absolute;
left: 24px;
top: 87px;
      }
.dubai-group-1007_408 {
        width: 137px;
height: 57px;
position: absolute;
left: 0px;
top: 0px;
      }
.dubai-paragraph-1007_406 {
        font-size: 18px;
font-family: "Alibaba PuHuiTi 3.0-85 Bold";
font-weight: 700;
letter-spacing: 0em;
text-transform: lowercase;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: absolute;
left: 0px;
top: 32px;
white-space: pre;
flex-grow: 0;
text-shadow: 1px 2px 8px rgba(9.627716064453125, 25.37155532836914, 69.14710235595703, 0);
      }
.dubai-paragraph-1007_407 {
        font-size: 16px;
font-family: "Alibaba PuHuiTi 3.0-65 Medium";
font-weight: 500;
letter-spacing: 0em;
text-transform: capitalize;
color: rgba(255, 255, 255, 0.5);
width: auto;
height: auto;
position: absolute;
left: 0px;
top: 0px;
white-space: pre;
flex-grow: 0;
      }
.dubai-frame-1007_409 {
        width: auto;
height: auto;
position: absolute;
left: 1077px;
top: 12px;
display: flex;
flex-direction: column;
gap: 10px;
align-items: flex-start;
padding: 6px 12px 6px 12px;
border-radius: 20px 20px 20px 20px;
backdrop-filter: blur(1.3333333333333333px);
background-color: rgba(87, 91, 102, 1);
      }
.dubai-frame-1007_410 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
      }
.dubai-paragraph-1007_411 {
        font-size: 16px;
font-family: "Alibaba PuHuiTi 3.0-75 SemiBold";
font-weight: 600;
letter-spacing: 0.009999999776482582em;
color: rgba(255, 255, 255, 0.5);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.dubai-vector-1007_412 {
        width: 1152px;
height: 1px;
background-image: url(@/assets/images/profile-info-divider-line-one.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 80.5px;
      }
.dubai-group-1012_435 {
        width: 1152px;
height: 81px;
position: absolute;
left: 24px;
top: 192px;
      }
.dubai-group-1012_436 {
        width: 122px;
height: 57px;
position: absolute;
left: 0px;
top: 0px;
      }
.dubai-paragraph-1012_437 {
        font-size: 18px;
font-family: "Alibaba PuHuiTi 3.0-85 Bold";
font-weight: 700;
letter-spacing: 0em;
text-transform: capitalize;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: absolute;
left: 0px;
top: 32px;
white-space: pre;
flex-grow: 0;
text-shadow: 1px 2px 8px rgba(9.627716064453125, 25.37155532836914, 69.14710235595703, 0);
      }
.dubai-paragraph-1012_438 {
        font-size: 16px;
font-family: "Alibaba PuHuiTi 3.0-65 Medium";
font-weight: 500;
letter-spacing: 0em;
text-transform: capitalize;
color: rgba(255, 255, 255, 0.5);
width: auto;
height: auto;
position: absolute;
left: 0px;
top: 0px;
white-space: pre;
flex-grow: 0;
      }
.dubai-frame-1012_439 {
        width: auto;
height: auto;
position: absolute;
left: 1077px;
top: 12px;
display: flex;
flex-direction: column;
gap: 10px;
align-items: flex-start;
padding: 6px 12px 6px 12px;
border-radius: 20px 20px 20px 20px;
backdrop-filter: blur(1.3333333333333333px);
background-color: rgba(87, 91, 102, 1);
      }
.dubai-frame-1012_440 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
      }
.dubai-paragraph-1012_441 {
        font-size: 16px;
font-family: "Alibaba PuHuiTi 3.0-75 SemiBold";
font-weight: 600;
letter-spacing: 0.009999999776482582em;
color: rgba(255, 255, 255, 0.5);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.dubai-vector-1012_442 {
        width: 1152px;
height: 1px;
background-image: url(@/assets/images/profile-info-divider-line-two.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 80.5px;
      }
.dubai-group-1012_443 {
        width: 1152px;
height: 81px;
position: absolute;
left: 24px;
top: 297px;
      }
.dubai-group-1012_444 {
        width: 66px;
height: 57px;
position: absolute;
left: 0px;
top: 0px;
      }
.dubai-paragraph-1012_445 {
        font-size: 18px;
font-family: "Alibaba PuHuiTi 3.0-85 Bold";
font-weight: 700;
letter-spacing: 0em;
text-transform: capitalize;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: absolute;
left: 0px;
top: 32px;
white-space: pre;
flex-grow: 0;
text-shadow: 1px 2px 8px rgba(9.627716064453125, 25.37155532836914, 69.14710235595703, 0);
      }
.dubai-paragraph-1012_446 {
        font-size: 16px;
font-family: "Alibaba PuHuiTi 3.0-65 Medium";
font-weight: 500;
letter-spacing: 0em;
text-transform: capitalize;
color: rgba(255, 255, 255, 0.5);
width: auto;
height: auto;
position: absolute;
left: 0px;
top: 0px;
white-space: pre;
flex-grow: 0;
      }
.dubai-frame-1012_447 {
        width: auto;
height: auto;
position: absolute;
left: 1077px;
top: 12px;
display: flex;
flex-direction: column;
gap: 10px;
align-items: flex-start;
padding: 6px 12px 6px 12px;
border-radius: 20px 20px 20px 20px;
backdrop-filter: blur(1.3333333333333333px);
background-color: rgba(87, 91, 102, 1);
      }
.dubai-frame-1012_448 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
      }
.dubai-paragraph-1012_449 {
        font-size: 16px;
font-family: "Alibaba PuHuiTi 3.0-75 SemiBold";
font-weight: 600;
letter-spacing: 0.009999999776482582em;
color: rgba(255, 255, 255, 0.5);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.dubai-vector-1012_450 {
        width: 1152px;
height: 1px;
background-image: url(@/assets/images/profile-info-divider-line-three.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 80.5px;
      }
.dubai-group-1016_474 {
        width: 1152px;
height: 57px;
position: absolute;
left: 24px;
top: 402px;
      }
.dubai-group-1016_475 {
        width: 137px;
height: 57px;
position: absolute;
left: 0px;
top: 0px;
      }
.dubai-paragraph-1016_476 {
        font-size: 18px;
font-family: "Alibaba PuHuiTi 3.0-85 Bold";
font-weight: 700;
letter-spacing: 0em;
text-transform: capitalize;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: absolute;
left: 0px;
top: 32px;
white-space: pre;
flex-grow: 0;
text-shadow: 1px 2px 8px rgba(9.627716064453125, 25.37155532836914, 69.14710235595703, 0);
      }
.dubai-paragraph-1016_477 {
        font-size: 16px;
font-family: "Alibaba PuHuiTi 3.0-65 Medium";
font-weight: 500;
letter-spacing: 0em;
text-transform: capitalize;
color: rgba(255, 255, 255, 0.5);
width: auto;
height: auto;
position: absolute;
left: 0px;
top: 0px;
white-space: pre;
flex-grow: 0;
      }
.dubai-frame-1016_478 {
        width: auto;
height: auto;
position: absolute;
left: 1077px;
top: 12px;
display: flex;
flex-direction: column;
gap: 10px;
align-items: flex-start;
padding: 6px 12px 6px 12px;
border-radius: 20px 20px 20px 20px;
backdrop-filter: blur(1.3333333333333333px);
background-color: rgba(87, 91, 102, 1);
      }
.dubai-frame-1016_479 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
      }
.dubai-paragraph-1016_480 {
        font-size: 16px;
font-family: "Alibaba PuHuiTi 3.0-75 SemiBold";
font-weight: 600;
letter-spacing: 0.009999999776482582em;
color: rgba(255, 255, 255, 0.5);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.dubai-rectangle-1015_458 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 10px 10px 10px 10px;
backdrop-filter: blur(1.3333333333333333px);
background-color: rgba(4, 4, 4, 0.10000000149011612);
      }
.stroke-wrapper-1015_458 {
        position: absolute;
left: 360px;
top: 150px;
width: 1200px;
height: 162px;
      }
.stroke-1015_458 {
        position: absolute;
inset: 0px;
border-radius: 10px 10px 10px 10px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.20000000298023224);
      }
.dubai-group-1012_451 {
        width: 502px;
height: 120px;
position: absolute;
left: 384px;
top: 171px;
      }
.dubai-vector-1006_371 {
        width: 120px;
height: 120px;
background-image: url(@/assets/images/profile-avatar-frame-ring.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 0px;
      }
.dubai-group-1006_397 {
        width: 364px;
height: 73px;
position: absolute;
left: 138px;
top: 24px;
      }
.dubai-paragraph-1006_375 {
        font-size: 28px;
font-family: "Alibaba PuHuiTi 3.0-85 Bold";
font-weight: 700;
letter-spacing: 0em;
text-transform: lowercase;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: absolute;
left: 0px;
top: 0px;
white-space: pre;
flex-grow: 0;
text-shadow: 1px 2px 8px rgba(9.627716064453125, 25.37155532836914, 69.14710235595703, 1);
      }
.dubai-group-1006_396 {
        width: 194px;
height: 22px;
position: absolute;
left: 0px;
top: 51px;
      }
.dubai-paragraph-1006_388 {
        font-size: 16px;
font-family: "Alibaba PuHuiTi 3.0-55 Regular";
font-weight: 400;
letter-spacing: 0em;
text-transform: uppercase;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: absolute;
left: 0px;
top: 0px;
white-space: pre;
flex-grow: 0;
text-shadow: 1px 2px 8px rgba(9.627716064453125, 25.37155532836914, 69.14710235595703, 1);
      }
.dubai-vector-1006_393 {
        width: 18px;
height: 18px;
background-image: url(@/assets/images/profile-id-copy-icon.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 176px;
top: 2px;
      }
.dubai-group-1017_483 {
        width: 1200px;
height: 140px;
position: absolute;
left: 360px;
top: 344px;
      }
.dubai-rectangle-1015_461 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 10px 10px 10px 10px;
backdrop-filter: blur(1.3333333333333333px);
background-color: rgba(4, 4, 4, 0.10000000149011612);
      }
.stroke-wrapper-1015_461 {
        position: absolute;
left: 0px;
top: 0px;
width: 1200px;
height: 140px;
      }
.stroke-1015_461 {
        position: absolute;
inset: 0px;
border-radius: 10px 10px 10px 10px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.20000000298023224);
      }
.dubai-group-1015_462 {
        width: 190px;
height: 84px;
position: absolute;
left: 24px;
top: 28px;
      }
.dubai-paragraph-1015_463 {
        font-size: 16px;
font-family: "Alibaba PuHuiTi 3.0-65 Medium";
font-weight: 500;
text-align: center;
letter-spacing: 0em;
text-transform: capitalize;
color: rgba(255, 255, 255, 0.5);
width: auto;
height: auto;
position: absolute;
left: 0px;
top: 0px;
white-space: pre;
flex-grow: 0;
      }
.dubai-paragraph-1015_464 {
        font-size: 38px;
font-family: "Alibaba PuHuiTi 3.0-85 Bold";
font-weight: 700;
text-align: center;
letter-spacing: 0em;
text-transform: capitalize;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: absolute;
left: 0px;
top: 31px;
white-space: pre;
flex-grow: 0;
      }
.dubai-group-1021_492 {
        width: 230px;
height: 34px;
position: absolute;
left: 946px;
top: 53px;
      }
.dubai-frame-1015_466 {
        width: 98px;
height: auto;
position: absolute;
left: 0px;
top: 0px;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 20px 20px 20px 20px;
backdrop-filter: blur(1.3333333333333333px);
background-color: rgba(87, 91, 102, 1);
      }
.frame-content-1015_466 {
        display: flex;
flex-direction: column;
gap: 10px;
align-items: flex-start;
padding: 6px 20px 6px 20px;
width: 100%;
position: relative;
      }
.dubai-frame-1015_467 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
      }
.dubai-paragraph-1015_468 {
        font-size: 16px;
font-family: "Alibaba PuHuiTi 3.0-75 SemiBold";
font-weight: 600;
letter-spacing: 0.009999999776482582em;
color: rgba(255, 255, 255, 0.5);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.dubai-frame-1016_469 {
        width: auto;
height: auto;
position: absolute;
left: 130px;
top: 0px;
display: flex;
flex-direction: column;
gap: 10px;
align-items: flex-start;
padding: 6px 12px 6px 12px;
border-radius: 20px 20px 20px 20px;
backdrop-filter: blur(1.3333333333333333px);
background-color: rgba(35, 199, 235, 1);
      }
.dubai-frame-1016_470 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
      }
.dubai-paragraph-1016_471 {
        font-size: 16px;
font-family: "Alibaba PuHuiTi 3.0-75 SemiBold";
font-weight: 600;
letter-spacing: 0.009999999776482582em;
color: rgba(4, 4, 4, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.dubai-frame-1019_484 {
        width: auto;
height: auto;
position: absolute;
left: 1456px;
top: 214px;
display: flex;
flex-direction: column;
gap: 10px;
align-items: flex-start;
padding: 6px 12px 6px 12px;
border-radius: 20px 20px 20px 20px;
backdrop-filter: blur(1.3333333333333333px);
background-color: rgba(35, 199, 235, 1);
      }
.dubai-frame-1019_485 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
      }
.dubai-paragraph-1019_486 {
        font-size: 16px;
font-family: "Alibaba PuHuiTi 3.0-75 SemiBold";
font-weight: 600;
letter-spacing: 0.009999999776482582em;
color: rgba(4, 4, 4, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }

